*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}
.home{
    padding-top: 40px;

}



.add-button {
    width:fit-content;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing:"3px";
    transition:  transform 0.2s;
    font-family: 'Poppins', sans-serif  ;
    
  }
  
  .add-button:hover {
    background-color: #45a049;
   
  }
  .add-button:active{
    transform: scale(0.8);
  }


.type1{
    height: 50px;
    width: 100px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 1s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.9s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .type1:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }
  .title-sub{
    color:white;
     text-shadow: 4px 4px 0.3px black; 
     font-size: 5rem;
  }

  .category-container{
    width:"100%";
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 
  


